{{> header}}
<form class="new-post">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-custom wide-btn">Create Post</button>
</form>