<div class="blog-post">
            <h4>Posted by (username) on Wednesday, February 9, 2022</h4>
            <a id="post-title" href=""><h3>Model View Controller Paradigm</h3></a>
            <div class="blog-post-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum mattis pellentesque id nibh tortor. Pretium aenean pharetra magna ac. Urna nunc id cursus metus aliquam. Habitant morbi tristique senectus et netus et malesuada. Cursus mattis molestie a iaculis at. Dolor sit amet consectetur adipiscing. At elementum eu facilisis sed odio morbi quis. Justo donec enim diam vulputate ut pharetra sit. Sed vulputate mi sit amet. Scelerisque fermentum dui faucibus in ornare. Sagittis nisl rhoncus mattis rhoncus urna neque. Faucibus nisl tincidunt eget nullam non. A diam sollicitudin tempor id eu nisl. Eleifend mi in nulla posuere sollicitudin. Aenean et tortor at risus viverra adipiscing at in. Malesuada pellentesque elit eget gravida cum sociis. Nibh tortor id aliquet lectus proin nibh nisl condimentum.
                </p>
                
            </div>
            <div class="comments">
                <h3>Comments:</h3>
                <div class="comment">
                    <h4>Posted by username on date</h4>
                    <p>OMG I love this</p>
                </div>
                <div class="comment">
                    <h4>Posted by username on date</h4>
                    <p>OMG I love this</p>
                </div>
            </div>
            <form></form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="leave-comment">Leave Comment:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-custom wide-btn">Submit</button>
            </form>
    </div>