:root {
    --dark-gray: rgb(51, 51, 51);
    --light-gray: rgb(232, 232, 232);
    --color: rgb(198, 178, 102);
}

body {
    margin: 0px auto;
    padding: 20px;
    color: var(--dark-gray)
}

#title {
    font-family: 'Noto Serif Display', serif;
    letter-spacing: .2rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

nav ul {
    display: flex;
    border-top: 1px solid var(--light-gray);
    border-bottom: 2px solid var(--dark-gray);
    padding: 15px 0px;
    justify-content: space-between;
}

.nav-link {
    text-transform: uppercase;
}

@media screen and (min-width: 720px) {
    body {
        max-width: 1000px;
        padding: 70px;
    }
    #title {
        letter-spacing: 1.4rem;
        font-size: 4rem;
    }
    nav ul {
        justify-content: flex-start;
    }
    .nav-link {
        padding-right: 30px;
    }
    .nav-link:hover {
        color: var(--color);
    }
}

